body{
    background-color: black;
}

.part{
	margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
	background-color: white;
}

.Header{
	background: url(../../resources/images/theflatironbuilding.png)no-repeat center;
}

.Header p{
	font-family: Helvetica;
	font-size: 18px;
	color: white;
}

h1{
	font-family: Helvetica;
	font-size: 70px;
	font-weight: bold;
	color: white;
}

h3{
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
}

h5{
	font-family: Helvetica;
	font-size: 23px;
	font-weight: bold;
}

.middlePart p, .footer p{
	font-family: Helvetica;
	font-size: 14px;
}

.strype{
	background: url(../../resources/images/theflatironbuilding.png)no-repeat center;
}


.strype p{
	font-family: Helvetica;
	font-size: 23px;
	font-weight: bold;
	color: white;
}

.strypeTwo p{
	text-align: left;
	font-family: Helvetica;
	font-size: 11px;
	color: white;
	background-color: dimgray;
}